$TTL 1W
@	IN	SOA	ns1.{{ item.cluster }}.{{ item.domain }}. root (
			2019103176	; serial
			3H		; refresh (3 hours)
			30M		; retry (30 minutes)
			2W		; expiry (2 weeks)
			1W )		; minimum (1 week)
	IN	NS	ns1.{{ item.cluster }}.{{ item.domain }}.
;
; syntax is "last octet" and the host must have fqdn with trailing dot
ns1     IN      A       {{ item.nameserver }}
smtp    IN      A       {{ item.nameserver }}
;
{% for h in item.hosts %}
{{ h.name | lower }}		IN	A	{{ h.ipaddr }}
{% endfor %}
;EOF